header{
    background-color: #9db9ee;
    font-family:'Plus Jakarta Sans';
    font-size: 18px;
    font-style:normal;
    text-align-last: center;
} 
header a{
    color:white
}
.imagenlogo{
    text-align-last: left;
}
.imagenlogo p{
    font-size: 24px;
    font-weight: 600;
    text-align-last: center;
}

.ingresar-registrarse{
    font-size: 16px;
    text-align-last: right;
}
.ingresar-registrarse a {
    text-decoration: none;
}
.ingresar-registrarse a:hover{
    background-color: blue;
}
body{
    font-family: "Plus Jakarta Sans";
}